.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    padding-top: 16px;
}

nav {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .nav-img {
    max-width: 139px;
    vertical-align: middle;
}

nav .nav-menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .nav-menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.nav-btn {
    background-color: #30b868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}


.banner {
    background-image: url(images/logo-section.png);
    max-width: 1600px;
    height: 674px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sec-txt {
    display: flex;
    align-items: center;
    justify-content: center;
}



.Early-access {
    max-width: 229px;
    margin-top: 115.5px;
    background-color: #ffffff;
    border-radius: 1000px;
    padding: 8px 12px;
    color: #276941;
    font-weight: 500;
    gap: 6px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: #30b868;
    border-radius: 8px;
    box-shadow: 0 0 8px;



}

.head-txt-one {
    font-size: 72px;
    color: #ffffff;
    margin-top: 16px;
    text-align: center;
    font-weight: 700;
}

.head-txt-two {
    font-size: 72px;
    color: #30b868;
    text-align: center;
    font-weight: 700;

}

.txt-one {
    font-size: 18px;
    color: #ffffff;
    margin-top: 16px;
    font-weight: 400;
    text-align: center;

}

.section-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}

.sec-first-btn {
    max-width: 251px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    background-color: #30b868;
    max-height: 52px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;

}

.sec-second-btn {

    max-width: 198px;
    max-height: 52px;
    border-radius: 4px;
    border: 1px solid;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    background: none;
    padding: 12px 16px;

}

.section-container h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #001931;


}

.section-container p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #627382;
}

#Notes {
    max-width: 1600px;
    max-height: 674px;
    padding: 120px 120px 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 44px;
}

.Notes-box {
    background-color: #ffffff;
    max-width: 1360px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 16px;


}

.Notes-card img {
    max-width: 32px;
    max-height: 32px;
    background-color: #F95555;
    margin-top: 69.5px;
    border-radius: 8px;


}

.Notes-card h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #001931;
    margin: 16px 24px;

}

.Notes-card p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;

}

.brain {
    max-width: 1360px;
    max-height: 840px;
    padding: 120px 0px;
    gap: 40px;
    background-color: #ffffff;
}

.brain-section {
    max-width: 1360px;
    max-height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}

.brain-img {
    max-width: 600px;
    max-height: 600px;
    border-radius: 12px;
}

.brain-text {
    max-width: 700px;
    max-height: 396px;
    gap: 40px;
    margin: 20px 0px;
}

.brain-first-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #30b868;
    margin-bottom: 16px;
}

.brain-heading-text {
    font-size: 48px;
    max-width: 700px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;

}

.brain-second-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 40px;
    max-width: 700px;

}

.section-list {
    max-width: 700px;
    max-height: 128px;
    gap: 16px;
    list-style-type: none;
}

.list-txt {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #001931;
    text-decoration: none;

}

.section-list .list-txt img {
    max-width: 20px;
    max-height: 20px;
}

.early-access-section {

    max-width: 1600px;
    max-height: 506px;
    padding: 2px 120px 120px 120px;
    gap: 40px;
    text-align: center;

}

.early-access-body {
    max-width: 1360;
    max-height: 384px;
    padding: 80px 40px 80px 40px;
    gap: 24px;

}

.Early-access-body h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}

.Early-access-body p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    color: #627382;
}

.Early-access-body button {
    max-width: 194px;
    max-height: 52px;
    font-size: 16px;
    font-weight: 600;
    background-color: #30b868;
    color: #ffffff;
    padding: 12px 16px;
    gap: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 16px;
}

.last-txt {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 80px;
    color: #627382;
    line-height: 20px;

}